@import url(https://fonts.google.com/specimen/Young+Serif);

img{
  height: 300px;
  width: 600px;
  border-radius: 10px;
}

body{
  background-color: hsl(30, 54%, 90%);
}

div.mainDiv{
  background-color: white;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 150px; 
  border-radius: 10px; 
}

div.secDiv{
  padding-top: 40px;
  padding-left:45px;
  padding-right: 33px;
}

div.pinkDiv{
  background-color: hsl(330, 100%, 98%);
  border-radius: 5px;
  height: 175px;
}

h3.pinkHead{
  color:hsl(332, 51%, 32%);
  font-family:'Young Serif',serif;
  padding-top: 20px;
  padding-left: 20px;
}

ul.firstList{
  line-height: 30px;
  padding-left: 50px;
} 

ul.secondList{
  line-height: 30px;
  padding-left: 20px;
}

.allHeads{
  color:hsl(14, 45%, 36%) ;
}





